UnityPanelWidget,
.unity-panel {

    background-image: url("assets/background-noise-toolbar.png"),
					  -gtk-gradient (linear, left top, left bottom,
                                     from (shade(@text_color, 1.08)),
                                     to   (shade(@text_color, 1.00)));

    border-width: 0px;
	border-style: none;

}

.unity-panel.menubar,
.unity-panel .menubar {
    color:				@text_color;
    text-shadow: 		none;    
/*
	text-shadow: 		0px 1px @theme_shadow_dark_color;    
*/
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0px;
}


